<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Company Reviews API</title>
	
	<!-- Angular CDNs -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

	<!-- Bootstrap CDNs -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	{% load staticfiles %}
	<!-- Angular files -->
	<script src="{% static 'review_api/angular/app.js' %}"></script>
	<script src="{% static 'review_api/angular/controllers/newController.js' %}"></script>
	<script src="{% static 'review_api/angular/controllers/retrieveController.js' %}"></script>
	<script src="{% static 'review_api/angular/controllers/submitController.js' %}"></script>
	<script src="{% static 'review_api/angular/controllers/tokenController.js' %}"></script>
	<script src="{% static 'review_api/angular/factories/reviewFactory.js' %}"></script>
	<script src="{% static 'review_api/angular/factories/reviewerFactory.js' %}"></script>

</head>
<body ng-app="reviewApp">

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Welcome to the Company Reviews API</h1>
				<h3>API Authentication Tokens</h3>
				<p>In order to use the API, you must have an authentication token. You may get an authentication token using the registration form below. If you already have a token, but you can't remember it, please use the token retrieval form below with the email and password you used when you registered.</p>
				<h3>Using the API</h3>
				<p>In order to register users, retrieve tokens, or submit reviews, you will first need to send a GET request to the website to retrieve the csrftoken cookie. In the POST requests, attach the csrftoken as a header with a key of "X-CSRFToken". Retrieving user reviews is a GET request and does not need a csrf token.</p>
				<p>Data in the body of POST requests should be in the x-www-form-urlencoded format.</p>
				<h4>API endpoints</h4>
				<p>NOTE: companyreviews.com is not an actual website.</p>
				<ul>
					<li>www.companyreviews.com/register
						<ul>
							<li>Register's a new user. Returns the user's authentication token.</li>
							<li>POST request. Include the csrf token.</li>
							<li>Required form fields are first_name, last_name, email, password, and password_confirm.</li>
						</ul>
					</li>
					<li>www.companyreviews.com/token
						<ul>
							<li>Returns a user's authentication token.</li>
							<li>POST request. Include the csrf token.</li>
							<li>Required form fields are email and password.</li>
						</ul>
					</li>
				</ul>
				<p>[Instructions for including the auth token]</p>
				<p>[list of API endpoints and their descriptions]</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default" ng-view>
					
				</div>
			</div>
		</div>
	</div>

</body>
</html>