<div layout="row" layout-padding>
	<div flex>
		<h1>Welcome to the Company Reviews API</h1>
		<h3>API Authentication Tokens</h3>
		<p>In order to use the API, you must have an authentication token. You may get an authentication token using the registration form below. If you already have a token, but you can't remember it, please use the token retrieval form below with the email and password you used when you registered.</p>
		<h3>Using the API</h3>
		<p>For your convenience, we have set up a user interface with which you may submit reviews and retrieve all the reviews that you have submitted. However, you may also interact with the API programmatically.</p>
		<h4>API endpoints</h4>
		<p>[Instructions for including the auth token]</p>
		<p>[list of API endpoints and their descriptions]</p>
	</div>
</div>
