<p ng-if="token" class="text-success">You are registered! Please save your authentication token: {/ token /}</p>

<div ng-if="errors" class="well well-sm">
	<h4 class="text-danger">Errors:</h4>
	<ul class="text-danger">
		<li ng-repeat="error in errors">{/ error /}</li>
	</ul>
</div>

<form ng-submit="nC.register()">
	<div class="form-group">
		<label for="first_name">First Name</label>
		<input type="text" class="form-control" id="first_name" ng-model="form.first_name">
	</div>
	<div class="form-group">
		<label for="last_name">Last Name</label>
		<input type="text" class="form-control" id="last_name" ng-model="form.last_name">
	</div>
	<div class="form-group">
		<label for="email">Email</label>
		<input type="email" class="form-control" id="email" ng-model="form.email">
	</div>
	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" ng-model="form.password">
	</div>
	<div class="form-group">
		<label for="password_confirm">Confirm Password</label>
		<input type="password" class="form-control" id="password_confirm" ng-model="form.password_confirm">
	</div>
	<button type="submit" class="btn btn-default">Register</button>
</form>